<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hwan.lee.vo.AccountVO" alias="account"/>
		<typeAlias type="com.hwan.lee.vo.ItemVO" alias="item"/>
		<typeAlias type="com.hwan.lee.vo.FileVO" alias="file"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/accountMapper.xml"/>
		<mapper resource="mapper/itemMapper.xml"/>
		<mapper resource="mapper/fileMapper.xml"/>
	</mappers>
</configuration>