<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwan.lee.dao.FileMapper">
	<insert id="fileInsert" parameterType="file">
		insert into
			file_db(
				file_no
				,acc_id
				,item_num
				,originalfile
				,savedfile
				,file_index
			)values(
				file_db_seq.nextval
				,#{acc_id}
				,#{item_num}
				,#{originalfile}
				,#{savedfile}
				,#{file_index}
			)
	</insert>
</mapper>
