<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwan.lee.dao.ItemMapper">
<insert id="itemInsert" parameterType="item">
	insert into
		item_db(
			item_num
			,acc_id
			,item_option1
			,item_option2
			,item_title
			,item_contents
			,item_price
			,item_fileNum
		)values(
			item_db_seq.nextval
			,#{acc_id}
			,#{item_option1}
			,#{item_option2}
			,#{item_title}
			,#{item_contents}
			,#{item_price}
			,#{item_fileNum}
		)
		<selectKey keyProperty="item_num" resultType="int" order="AFTER">
			select item_db_seq.currval
			from dual
		</selectKey>
</insert>
<select id="itemSelect" parameterType="String" resultType="hashmap">
	select
		i.item_num
		,i.item_option1
		,i.item_option2
		,i.item_title
		,i.item_contents
		,i.item_price
		,i.item_fileNum
		,i.item_date
		,f.savedfile
		,f.file_index
	from
		item_db i,
		file_db f
	where
		i.item_option2 = #{item_option2}
		and
		i.item_num = f.item_num
	order by
		item_date desc
</select>
<select id="itemSelectOne" parameterType="int" resultType="hashmap">
	select
		i.item_num
		,i.item_option1
		,i.item_option2
		,i.item_title
		,i.item_contents
		,i.item_price
		,i.item_fileNum
		,i.item_date
		,f.savedfile
		,f.file_index
	from
		item_db i,
		file_db f
	where
		i.item_num = f.item_num
		and
		i.item_num = #{item_num}
</select>
</mapper>
